controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    gripper_controller:
      type: position_controllers/JointGroupPositionController

gripper_controller:
  ros__parameters:
    joints:
      - Component19_Slider-8
      - Component19_Slider-9